*{
    margin: 0;
}
nav > ul {
    display: flex;
}
nav li{
    margin: 10px;
    padding: 5px;
    list-style: none;
    font-size: 20px;
    color: black;
   
}
nav li a{
    text-decoration: none;
}
nav li a:hover{
    background-color: gray;
       
}
 nav ul li ul{
    display: none;
    position: absolute;
    background-color: lightgoldenrodyellow;
    padding: 10px;
}
nav ul li:hover > ul{
    display: block;
}



.lorem{
    background-image: url('images-faill/l.JPG');
    height: 500px;
    background-size: 500px;
}
p{
    color: aqua;
}
#short{
    font-size: 25px;
    
}
input[type="button"]{
    padding: 10px;
    background-color: aqua;
    
}
.blog{
    border: 2px solid darkturquoise;
    border-radius: 10px;
    width: 50%;
    margin: 20px;
    padding: 20px;
    text-align: justify; 
    text-decoration: underline;
    box-shadow: 10px 10px 30px;
}
    /* margin: 20px; T
       margin: 10px 30px; T-B
       margin: 20px 50px 100px; t r-l b
       margin: 10px 30px 50px 80px; T R L B 

       pndding: 20px; T
       pndding: 10px 30px; T-B
       pndding: 20px 50px 100px; t r-l b
       pndding: 10px 30px 50px 80px; T R L B */
.viji{
    visibility: hidden;
    /* display: none; */
}
table{
    border-collapse: collapse;
}
td, th{
    border: 1px solid black;
    padding: 5px 10px;
}
.parent{
    background-color: rgb(229, 226, 231);
    padding: 20px;
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    flex-direction: row;
    height: 350px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.child{
    color: white;
    font-weight: bold;
    padding: 20px;
    background-color: rgb(130, 91, 167);
    font-size: 20px;
    border: 1px solid black;
}

h2{
    text-align: center;
    color: rgb(27, 0, 199);
    font-size: 30px;
}
h2:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.input-group{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
}
.input-group input:focus{
    outline: none;
    color: red;
}
a:visited{
    color: chartreuse;
}

ul > li:last-child {
    color: darkkhaki;
}
ul > li:first-child {
    color: rgb(40, 7, 255);
}
ul > li:nth-child(2n) {
    background-color: rgb(255, 0, 0);
}

ul > li:nth-child(2n+1) {
    background-color: rgb(17, 238, 10);
 }
ul > li:nth-child(3n+1) {
    background-color: rgb(0, 198, 233);
}

/* .food2{
    position: relative;
    top: 50px;
    left: 200px;
} */

/* .food2{
    position: absolute;
    top: 50px;
    left: 200px;
} */

/* .food2{
    position: sticky;
    top: 0px;    
} */

/* .food2{
    position: fixed;
    top: 0px;
    left: 0px;
} */

 .dammy{
    border: 1px solid black;
    width: 200px;
    height: 200px;
 }

 .swim-image{
    text-align: center;
    margin: 200px 0;
 }
 .box{
    width: 1000px;
    margin: 0 auto;
    position: relative;
 }

 .boy1{
    z-index: 3;
 }
 .ring{
    top: -200px;
    z-index: 2;    
 }
 .water{
    top: -700px;
 }
 div > h2::after{
    content: '.PDF';
    font-size: 10px;
    color: rgb(0, 0, 0);
 }

 div > h2::before{
    content: 'start:=>';
    font-size: 30px;
    color: rgb(0, 0, 0);
 }

.lorem1:first-letter{
    font-size: 30px;
    color: red;
    font-weight: bold;
}
.lorem1::first-line{
    background-color: rgb(47, 54, 54);
    font-weight: bold;
}
.lorem1::selection{
    background-color: rgb(68, 150, 105);
    color: white;
}
input::placeholder{
    color: rgb(40, 7, 255);
}
